// Specific CSS for your home-page
// body {
//   background: url(../img/background.jpg);
//   background-size: cover;
// }
.image-logo {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
