<div class="nested-fields">
  <%= f.input :name, label: 'Nombre', placeholder: 'IMPLEMENTACIÓN PLANTILLA PREMIUM' %>
  <div class="form-display">
    <%= f.input :cantidad, placeholder: '1' %>
    <%= f.input :subtotal, placeholder: 'Por lo general va vacio' %>
  </div>
  <%= link_to_remove_association "Eliminar Concepto", f, class: 'btn btn-danger' %>
</div>

