.title {
  padding: 0px 30px;
  i {
    display: block !important;
    margin-bottom: 16px;
    font-size: 64px;
    opacity: .5;
    color: #fff;

    &:hover {
      opacity: 1;
      color: #fff;
      cursor: pointer;
    }

    &.active {
      color: #3b3be8;
      opacity: 1;
    }
  }
}

