.phase-title {
  color: #292929;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 24px;
  font-weight: 100;
}

.phase-p {
  font-weight: 400;
  margin-bottom: 24px;
  margin: 0 0 10px;
  color: #666666;
  font-size: 13px;
  line-height: 24px;
}

.phase-bottom {
  margin-bottom: 80px;
}
