.quotations-photo {
  width: 100%;
    // float: left;
    // margin-right: -100%;
    // position: relative;
    // opacity: 1;
    display: block;
    z-index: 9999;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 450px 0 50px 0;
  animation: kenBurnsEast 25s linear infinite alternate;
  -webkit-animation: kenBurnsEast 25s linear infinite alternate;

  span, p {
    font-size: 13px;
  }

  h4 {
    font-weight: 600 !important;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
  }

  .container {
    padding: 20px 0 0 0 !important;
  }
}

.background-banner {
  background-color: #292929;
  padding: 0px 15px !important;
}

.line-grey-2 {
  border-top: 1px solid #fff;
  padding-top: 50px;
}

.col-md-8, .col-md-10, .col-sm-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
