.text-quotation {
    color: #f1f2f2;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}
.text:hover {
  text-decoration: none;
}

.span-text {
      color: #fefefe;
      font-weight: 400;
      font-size: 13px;
}

.proyectos-on {
  text-transform: uppercase;
  border-bottom: 1px solid grey;
  letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 24px;
    color: #f1f2f2;
}

.margen-div {
  margin-bottom: 50px;
}

.line-grey {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
    padding-top: 30px;
    align-items: center;
}

.text-color {
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
  padding-top: 20px;
}

.scope-text {
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 24px !important;
}

.scope-title {
    letter-spacing: 2px;
    font-weight: 700;
    border-bottom: 1px solid grey;
    padding-bottom: 24px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 50px;
}

.new-container {
  padding: 100px 0px;
}

.descripciones {
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

h4 {
  margin-bottom: 0;
}

.titulos {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 3px;
  margin-right: -3px;
  color: #fff;
  padding-top: 25px;
}

.nombre-requerimiento {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
}
