.background-black {
  background: #292929;
  height: 100vh;
  padding-top: 120px;
}

.text-quotation {
    color: #f1f2f2;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}
.text:hover {
  text-decoration: none;
}

.btn-index {
  border-radius: 25px !important;
  text-decoration: none;
    outline: none;
    color: #f1f2f2;
    background-color: transparent;
    padding: 0 26px;
    height: 30px;
    font-size: 11px;
    line-height: 27px;
    min-width: 0;
    border: 2px solid #f1f2f2;
}

.btn-show {
  border-radius: 25px !important;
    text-decoration: none;
    outline: none;
    color: #f1f2f2;
    background-color: transparent;
        padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #f1f2f2;
}

.span-text {
      color: #fefefe;
      font-weight: 400;
      font-size: 13px;
}

.proyectos-on {
  text-transform: uppercase;
  border-bottom: 1px solid grey;
  letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 24px;
    color: #f1f2f2;
}

.margen-div {
  margin-bottom: 50px;
}

.line-grey {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
    padding-top: 30px;
    align-items: center;
}

.text-color {
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
  padding-top: 20px;
}

.button-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.scope-text {
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  line-height: 24px !important;
}

.scope-title {
    letter-spacing: 2px;
    font-weight: 700;
    border-bottom: 1px solid grey;
    padding-bottom: 24px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 50px;
}

.new-container {
  padding-top: 100px;
}

h4 {
  margin-bottom: 0;
}
